<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Список книг</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.6.0.min.css"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Автор Имя</th>
        <th>Фамилия</th>
        <th>Название</th>
        <th>Тэги</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.author.firstName}"></td>
        <td th:text="${book.author.lastName}"></td>
        <td th:text="${book.author.id}"></td>
        <td th:text="${book.tags.size()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>